
.app-container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: blueviolet;
}
.recipt{
  text-align: center;
}
.save{
  padding: 10px;
  margin-top: -10px;
  position: fixed;
  margin-left:790px;
}
.save:hover{
  background: purple;
}








  

